@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

#howToContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 250px;
}
#howToContent > div {
  text-align: left;
  width: 1000px;
}

#howToContent > div > p {
  color: #8d8682;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
}
#howToContent > div > h2 {
  color: #4a4644;
  font-family: "Inter";
  font-weight: 600;
  font-size: 30px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

#steps {
  list-style: none;
}
#steps > li {
  color: #4a4644;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
}

#simple {
  margin-top: 50px;
  margin-bottom: 70px;
}

#rate {
  margin-bottom: 100px;
}
